{% extends 'header.html' %}
{% load static %}
{% block title %}<title>Your Account</title>{% endblock %}
{% block head %}
    <link rel= "stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script>const token = "{{ csrf_token }}"</script>
    <script>const reveal = "{% static 'source_images/reveal.png' %}"</script>
    <script>const hide = "{% static 'source_images/hide.png' %}"</script>
    <script>const static = "{% static 'scripts' %}"</script>
    <script src="{% static 'scripts/account.js' %}"></script>
{% endblock %}
{% block body %}
    <div id="account-page" class="jumbotron">
        <div id="account-details">
            <div id="account-picture">
                {% if account_picture %}
                <img src="{{ account_picture }}" width=128>
                {% else %}
                <img src="{% static 'source_images/user.png' %}" width=128>
                {% endif %}
            </div>
            <div id="identification">
                <strong>{{ message.username }}</strong>
                You joined on <strong>{{ message.date_joined }}</strong>
            </div>
            <div id="account-status"></div>
            <div id="clouds"></div>
            <div id="cloud-list">
                <ul id="cloud-options">
                </ul>
            </div>
        </div>
        <div id="settings-display"></div>
        <div id="settings-bottom">
        <hr style="margin-bottom: 0;">
        <span  style=" position: relative; left: 27%; bottom: 5%;background-color: transparent; outline: none; cursor: pointer" onclick="getBaseSettings()"><img id="backButton" src="{% static 'source_images/back.png' %}" width=48></span>
        </div>
    </div>
{% endblock %}