{% load static %}
<h4 id="settings-title">General Account Settings</h4>
<hr class="bordered">
<div class="option" onclick="planChange()">
    Change your plan
    <img src="{% static 'source_images/front.png' %}" width=40 height=38>
</div>
<div class="option" onclick="passwordReset()">
    Reset your password
    <img src="{% static 'source_images/front.png' %}" width=40 height=38>
</div>
<div class="option" onclick="changeDetails()">
    Change account details
    <img src="{% static 'source_images/front.png' %}" width=40 height=38>
</div>
<div class="option" onclick="deleteAccount()">
    Delete your account
    <img src="{% static 'source_images/front.png' %}" width=40 height=38>
</div>
<div class="option" onclick="becomePublisher()">
    Request to become a Publisher
    <img src="{% static 'source_images/front.png' %}" width=40 height=38>
</div>