{% extends 'header.html' %}
{% load static %}
{% block title %}<title>Downloads</title>{% endblock %}
{% block head %}
<link rel= "stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
<script>
    window.onload = () => {
        var os = navigator.appVersion.split(/[()]+/)[1];
        os = os.split(" ")[0];
        
        if (os.includes("Mac")) {
            os = os.slice(0, os.length - 1);
        }
        
        else if (os.includes("Windows")) {
            let buttons =  document.getElementById("download-buttons");
            buttons.parentElement.removeChild(buttons);
            
            let h3 = document.createElement("h3");
            h3.innerHTML = "Sorry! Windows isn't available yet! Make sure to check back in the future!";
            document.getElementById("first-downloads-page").appendChild(h3);
            return false;
        }
        
        let labels = document.querySelectorAll("label");
        for(let i = 0; i < labels.length; i++) {
            labels.item(i).innerHTML += ": " + os;
        }
        
        document.getElementById("os-type").value = os;
    }
</script>
{% endblock %}
{% block body %}
    <div id="first-downloads-page">
        <h2 align=center>Downloads</h2>
        <p>It's official! Last Stand has entered its first public alpha testing phase and is ready for you to download it! Of course, only those who are signed up on our website are allowed to download, and signing up for an account will always be free! If you take a look at the <a href="{% url 'rates' %}">rates page</a>, you may notice that you aren't quite allowed to buy a plan yet. All alpha and beta tests of Last Stand Cloud will never cost anything to use, and we don't want to charge for any version of software that isn't fully working yet(don't ever preorder, folks). We're still developing the business/unlimited version, and don't want to make promises we may not be able to keep. No early access here!</p>
        <p>If you want to install the alpha version, there are a few options for you below. There should be automatic OS detection for the correct version, but you can install the server and client version to setup a cloud, or just the client version to access your cloud.</p>
        
        <form id="download-buttons" method="post" action="{% url 'submit_download' %}">
            {% csrf_token %}
            <input type=hidden id="os-type" name="os-type">
            <div class="bordered-download" style="position:relative; float: left;">
            <label for="both">Download the Server/Client for</label>
            <button type=submit name="both" id="client-server-download">
                Download <img src="{% static 'source_images/download.png' %}" width=25px>
            </button>
            </div>
            <div class="bordered-download" style="position: relative; float: right;">
                <label for="client-only">Download the Client for</label>
                <button type=submit name="client-only" id="client-server-download">
                Download <img src="{% static 'source_images/download.png' %}" width=25px>
            </button>
            </div>
            
        </form>
    </div>
{% endblock %}