{% extends 'header.html' %}
{% load static %}
{% block title %}<title>Downloads</title>{% endblock %}
{% block head %}
<link rel= "stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
{% endblock %}
{% block body %}
    <div id="first-downloads-page">
        <h2>Downloads</h2>
        <p>It's official! Last Stand has entered its first public alpha testing phase and is ready for you to download it! Of course, only those who are signed up on our website are allowed to download, and signing up for an account will always be free! If you take a look at the <a href="{% url 'rates' %}">rates page</a>, you may notice that you aren't quite allowed to buy a plan yet. All alpha and beta tests of Last Stand Cloud will never cost anything to use, and we don't want to charge for any version of software that isn't fully working yet(don't ever preorder, folks). We're still developing the business/unlimited version, and don't want to make promises we may not be able to keep. No early access here!</p>
        <p>If you want to install the alpha version, there are a few options for you below. There should be automatic OS detection for the correct version, but you can install the server and client version to setup a cloud, or just the client version to access your cloud. </p>
        
        <div id="download-buttons">
            <label>
            </label>
        </div>
    </div>
{% endblock %}