{% extends 'header.html' %}
{% load static %}
{% block title %}<title>Last Stand Cloud</title>{% endblock %}
{% block head %}
    <link rel= "stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
    <meta name="description" content="Last Stand is a home cloud solution that allows you to access it away from home like it was made by one of the tech giants. Take back control of your data and your privacy"/>
    <script>var articleImageSrc = "{% static 'article_images' %}"</script>
    <script>const token = "{{ csrf_token }}"</script>
    <script src="/static/scripts/home.js"></script>
{% endblock %}
{% block body %}
    <div id="home-content">
        <div id="intro">
            <h3>Welcome to Last Stand Cloud!</h3>
            <nav style="max-width: 27em; float: left;">This is the home site of the Last Stand Cloud software suite. Here,
            we make emphasis on the portability and usability of cloud software. Last Stand is currently under its third public alpha stage, so check out the downloads page to give it a try, or scroll down if you want to know more about Last Stand Cloud or want to get updates on how we're doing!</nav>
            <img alt="cloud image" src='{% static "source_images/cloud-image.jpeg" %}' title="cloud computing, hopefully for all" style="float: right;" width=450px height=250px>
        </div>
        <article id="updates">
        </article>
    </div>
{% endblock %}
