{% extends 'header.html' %}
{% load static %}
{% block title %}<title>Licensing, T&C and other Legal Documents</title>{% endblock %}
{% block head %}
    <link rel= "stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
{% endblock %}
{% block body %}
<div id="legal-info" class="page" align=center>
    <h2>Legal Documentation</h2>
    <p><a href="#">Website Terms and Conditions</a></p>
    <p><a href="#">Our Privacy Policy</a></p>
    <p><a href="{% static 'downloads/Last Stand Cloud - End user License Agreement(EULA).pdf' %}">Last Stand Cloud's End User License Agreement</a></p>
    <p><a href='#'>Developer Policy for API usage</a></p>
</div>
{% endblock %}