<script>
    window.oninput = () => {
        
        var password = document.getElementById("new");
        var button = document.querySelector("button");
        var oldTip = document.getElementById("newPassword");
        var NewTip = document.getElementById("passRepeat");
        closeToolTip(NewTip);
        if (password.value === document.getElementById("old").value) {
            password.style.backgroundColor = "#f72626";
            displayToolTip(oldTip, "Your new password cannot be the same as the old one");
            button.disabled = true;
            return;
        }
        
        else if (password.value != document.getElementById("new-repeat").value || 
            password.length < 8) {
            closeToolTip(oldTip);
            displayToolTip(NewTip, "Password and confirmation do not match!");
            password.style.backgroundColor = "white";
            button.disabled = true;
            return;
        }
        
        closeToolTip(oldTip);
        password.style.backgroundColor = "white";
        var upper = /[A-Z]/.test(password.value);
        var lower = /[a-z]/.test(password.value);
        var number = /[0-9]/.test(password.value);
        
        if (upper && lower && number) {
            oldTip.style.visibility = "hidden";
            button.disabled = false;
            return;
        }
        
        else if (password.value.length > 0) {
            displayToolTip(oldTip, "Your password is missing either: <ul><li>An uppercase letter</li><li>A lowercase letter</li><li>Or a number</li></u>");
        }
    }
    
    function sameTest() {
        var pass = document.getElementById("new").value;
        var passRepeat = document.getElementById("new-repeat");
        
        if (passRepeat.value != pass) {
            passRepeat.style.backgroundColor = "#f72626";
        }
        else {
            passRepeat.style.backgroundColor = "white";
        }
    }
        
    function closeToolTip(tip) {
        tip.style.visibility = "hidden";
        tip.style.opacity = 0;
    }
        
    function displayToolTip(tip, message) {
        tip.innerHTML = message;
        tip.style.visibility = "visible";
        tip.style.opacity = 1;
    }
    
    
</script>
<style>
.toolTip {
  opacity: 0;
  transition: .5s;
  visibility: hidden;
  display: inline-block;
  width: auto;
  background-color: rgb(40, 40, 54);
  padding: .3em;
  color: whitesmoke;
  text-align: center;
  border-radius: .5em;
  position: absolute;
  top: 20.5%;
    left: -5%;
    }
    
 div .toolTip::after {
  content: " ";
    display: inline-block;
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(40, 40, 54) transparent transparent transparent;
}
    
   
</style>
<div id="passwordForm">
    <h4 id="settings-title">Reset your Password</h4>
    <hr>
    <p>Your new password must be different from your old password, and contain all of the following:</p>
    <ul>
        <li>One uppercase letter</li>
        <li>One lowercase letter</li>
        <li>One number from 0-9</li>
    </ul>
    <p>And must be at least 8 characters in length</p>
    <div>
    <input type="password" name="old" id="old" placeholder="Your old password">
    </div>
    <div>
    <input type="password"  id="new" name="new" placeholder="New password">
        <span class="toolTip" id="newPassword"></span>
    </div>
    <div>
    <input type="password" id="new-repeat" oninput="sameTest()" name="new-repeat" placeholder="New password again">
        <span class="toolTip" id="passRepeat"></span>
    </div>
    <button onclick="submit()" disabled>Submit</button>
</div>
    