{% load static %}
<div id="passwordForm" oninput="passwordEntered()">
    <h4 id="settings-title">Reset your Password</h4>
    <hr>
    <div style="font-size: 1.2em; padding-bottom: 1em;">
    <p>Your new password must be different from your old password, and contain all of the following:</p>
    <ul>
        <li>One uppercase letter</li>
        <li>One lowercase letter</li>
        <li>One number from 0-9</li>
    </ul>
    <p>And must be at least 8 characters in length</p>
    </div>
    <div id="inputs">
    <div>
    <input type="password" name="old" id="old" placeholder="Your old password">
    </div>
    <div>
    <input type="password"  id="new" name="new" placeholder="New password">
        <span align=left class="toolTip" id="newPassword"></span>
    </div>
    <div>
    <input type="password" style="margin-bottom: 3em;" id="new-repeat" oninput="sameTest()" name="new-repeat" placeholder="New password (again)">
        <span class="toolTip" id="passRepeat"></span>
    </div>
    <button style="color: whitesmoke; background-color:rgb(40, 40, 54); min-width:10%" onclick="submit()" disabled>Submit</button>
    <div id="reveal-hide" data-name="reveal" style="padding: 0; margin-left: 2.5em; display: inline-block; cursor: pointer;" title="reveal your passwords" onclick="switcher()"><img width=32 src="{% static 'source_images/hide.png' %}"></div>
    </div>
</div>
    