<script>
    window.oninput = () => {
        var password = document.getElementById("new").value;
        var button = document.querySelector("button");
        
        if (password != document.getElementById("new-repeat").value) {
            button.disabled = true;
            return;
        }
        
        else if (password === doucment.getElementById("old").value) {
            button.disabled = true;
            return;
        }
        
        var upper = /[A-Z]/.test(password);
        var lower = /[a-z]/.test(password);
        var number = /[0-9]/.test(password);
        
        if (upper + lower + number === 3) {
            button.disabled = false;
        }
    }
</script>
<div id="passwordForm">
    <h4 id="settings-title">Reset your Password</h4>
    <hr>
    <p>Your new password must be different from your old password, and contain all of the following:</p>
    <ul>
        <li>One uppercase letter</li>
        <li>One lowercase letter</li>
        <li>One number from 0-9</li>
    </ul>
    <p>And must be at least 8 characters in length</p>
    <div>
    <input type="password" name="old" id="old" placeholder="Your old password">
    </div>
    <div>
    <input type="password"  id="new" name="new" placeholder="New password">
    </div>
    <div>
    <input type="password" id="new-repeat" name="new-repeat" placeholder="New password again">
    </div>
    <button onclick="submit()" disabled>Submit</button>
</div>
    