{% extends 'header.html' %}
{% load static %}
{% block title %}<title>Create and Register a new Cloud</title>{% endblock %}
{% block head %}
    <script>
        var os;
        
        function makeName(option) {
            os = option.getAttribute("data-os");
            document.getElementById("first-options").style.display = "none";
            document.getElementById("cloud-name").style.display = "inherit";
            document.getElementById("os-type").setAttribute("value", os);
            
        }
        
        function userMessage() {
            document.getElementById("cloud-name").style.display = "none";
            document.getElementById("cloud-download").style.display = "inherit";
        }
        
        function backToStart(div) {
            document.getElementById(div).style.display = "none";
            document.getElementById("first-options").style.display = "inherit";
        }
        
    </script>
	<meta name="description" content="This is the page where you will create your new cloud, and download all the needed parts">
    <link rel= "stylesheet" type="text/css" href="{% static 'styles/style.css' %}">
{% endblock %}
{% block body %}
    <div class="page">
        <div id="cloud-form">
            <h1 align=center style="margin-top: 1em">Register a New Cloud</h1>
            <hr style="background-color: whitesmoke; width: 90%;">
            <div id="first-options" class="cloud-form-div">
                <h3 class="cloud-form-title">Choose the operating system this cloud will run on:</h3>
                <ul style="padding: 0; margin-top: 3em; margin-bottom: 3em">
                    <li data-os="Linux" onclick="makeName(this)" class="os-option">Linux</li>
                    <li data-os="macOS" onclick="makeName(this)" class="os-option">macOS</li>
                    <li data-os="FreeBSD" onclick="makeName(this)" class="os-option" style="border-bottom: 1px solid whitesmoke">FreeBSD</li>
                </ul>
            </div>
            <div id="cloud-name" class="cloud-form-div">
                <h3 class="cloud-form-title">Give your cloud a name:</h3>
                <form id="cloud-name-form" action="{% url 'submit_cloud' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" id="os-type" name="os-type">
                    <label>
                        <span style="font-size:1.7em">Name: </span> <input type="text" placeholder="My Cloud..." name="name" id="cloud-name">
                    </label>
                    <div style="margin-left: auto; margin-right: auto; max-width: 20%">        <button type="submit" onclick="userMessage()">Create</button>
                    </div>
                </form>
                <img id="create-cloud-back" style="cursor: pointer" onclick="backToStart('cloud-name')" src="{% static 'source_images/back.png' %}" width=64>
            </div>
            <div id="cloud-download" class="cloud-form-div">
                <h4 class="cloud-form-title">Your download should begin shortly, if not, click <a href="#">Here.</a></h4>
                <img id="cloud-download-back" style="cursor: pointer" onclick="backToStart('cloud-download')" src="{% static 'source_images/back.png' %}" width=64>
            </div>
        </div>
    </div>
{% endblock %}
