{% extends 'header.html' %}
{% block title %}<title>Sign Up</title>{% endblock %}
{% block head %}
<script>
    function enabler() {
        var button = document.getElementById("registerbutton");
        var entries = document.querySelectorAll("input");
        var box = document.getElementById("agree");
        
        for (let i = 0; i < entries.length; i++) {
            if (entries.item(i).value == "") {
                button.disabled = true;
                return false;
            }
        }
        
        if (box.checked) {
            button.disabled = false;
        }
        else {
            button.disabled = true;
        }
        
    }
    
    window.oninput = enabler;
</script>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/style.css' )}}"/>
{% endblock %}

{% block body %}
<div id="login">
<h2 align=center>Sign Up <img src="{{ url_for('static', filename='source_images/Lock.png') }}" width=20em height=25em/></h2> 
    
{% if message %}
<div class="alert alert-danger" role="regalert" id="alerts">
  <strong>{{ message[0] }}</strong>{{ message[1] }}
</div>
{% else %}
    <div></div>
{% endif %}
<form action="{{ url_for('register_form') }}" method="post">
    <div class="form-text">Email:</div>
    <input type=email name="email" placeholder="example@email.com">
    <div class="form-text">Username:</div>
    <input type=text name="user" placeholder="Username...">
    <div class="form-text">Password:</div>
    <input type=password name="password" placeholder="Password...">
    
    <div>
        <input style="width: 1em; padding: 0; margin-right: .5em; height: 1em;" type="checkbox" name="agree" id="agree" onclick="enabler()">
        By checking this box, you agree to our user licensing agreement, <a href="#">here</a>.
        
    </div>
    <div id="button"><button type=submit id="registerbutton" disabled>Register</button></div>
</form>
</div>
{% endblock %}
